feature eng
outlier detection and removal using percentile

In [5]:
import pandas as pd
df=pd.read_csv("area.csv")

In [6]:
df

   areas        prices
0   1000  4.318662e+05
1    200  3.599648e+05
2   2200  5.397183e+05
3   8200  1.078979e+06
4   6000  8.812500e+05
5   3500  6.565581e+05
6   4325  7.307064e+05
7   6988  9.700482e+05

In [9]:
max_thresold=df["prices"].quantile(0.95)
max_thresold

1040853.1512399998

In [10]:
df[df["prices"]>max_thresold]

   areas       prices
3   8200  1078978.873

In [11]:
min_thresold=df["prices"].quantile(0.05)
min_thresold

385130.281675

In [13]:
df[df["prices"]<min_thresold]

   areas       prices
1    200  359964.7887

In [15]:
dff=df[(df["prices"]>min_thresold) & (df["prices"]<max_thresold)]

In [16]:
df.describe()

             areas        prices
count     8.000000  8.000000e+00
mean   4051.625000  7.061364e+05
std    2868.111571  2.577766e+05
min     200.000000  3.599648e+05
25%    1900.000000  5.127553e+05
50%    3912.500000  6.936323e+05
75%    6247.000000  9.034496e+05
max    8200.000000  1.078979e+06